.custom-modal-diaglog {
  margin: 0 !important;
  max-width: unset !important;
  width: 100% !important;
  height: 100% !important;
}

.custom-modal-content {
  width: 50% !important;
  height: 50%;
  top: 50%;
  left: 50%;
  min-width: 600px;
  min-height: 450px;
  transform: translate(-50%, -50%);
  position: relative;
}