.custom-dropdown-toggle {
  width: 100%;
  background: none !important;
  color: black !important;
}

.custom-dropdown-toggle--invalid {
  border-color: red !important;
}

.custom-dropdown-menu {
  width: 100%;
}